@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Share+Tech+Mono&display=swap');

:root{
    --cor-primaria: #1A120B;
    --cor-secundaria:#FFF2D8;
    --cor-terciaria:#C8AE7D;
    --cor-hover:#765827;
    --cor-hovercabecalho: #FFF2D8;

    --font-primaria:'Share Tech Mono', monospace;
    --font-secundaria:'Montserrat Alternates', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    /* height: 100vh; */
    box-sizing: border-box;
}

/* Cabeçalho */
.cabecalho{
    padding: 4% 0 0 18.7%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--cor-hovercabecalho);
}

/* Main */
.apresentacao{
    padding: 7% 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.destaque-titulo{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--font-primaria);
}

.apresentacao__links__link{
    justify-content: center;
    display: flex;
    gap: 16px;
    border-color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.37rem;
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    font-size: 1.56rem;
    box-shadow: 0px 0px 0px 3px #2CD3E1;
}

.apresentacao__img{
    border-radius: 0px 30px 0px 30px;
    width: 40%;

}
/* Rodape */
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 20px;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1rem;
}

.apresentacao__link__wpp__icon:hover{
    width:  80px;
    height: 80px;
}

/* Curriculum */

.curriculo__pessoal{
    padding: 6% 15% 5% 18%;
    display: flex;
    align-items: center;
}

.curriculo__pessoal__info{
    width: 1195px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.curriculo__link{
    flex-direction: row;
    justify-content: center;
    display: flex;
    gap: 16px;
    border-color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    width: 200px;
    text-align: center;
    border-radius: 0px 20px 0px 20px;
    font-size: 1.25rem;
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.curriculo__titulo{
    font-family: var(--font-primaria);
    color: var(--cor-terciaria);
    font-size: 1.87rem;
}

.curriculo__texto{
    width: 70%;
    font-family: var(--font-secundaria);
    font-size: 1.12rem;
}
.curriculo__img{
    border-radius: 0px 30px 0px 30px;
    display: flex; 
}

@media (max-width: 931px){
    
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}